:root {
  // Colors
  --color-primary: #00344c;
  --color-primary-dark: #001e2e;
  // --color-secondary: ;
  // --color-tertiary: ;
  --color-surface: #d9dadc;
  --color-surface-dark: #191c1e;
  // --color-error: ;
  // --color-warning: ;
  // --color-success: ;
  // --color-information: ;
  --color-white: #ffffff;

  // Shadows
  --box-shadow-button-hover: 0 1px 3px 1px rgba(0, 0, 0, 0.15);

  // Animation
  --transition-speed: 200ms;
}
